<div class="table-container">

  <div class="header">
    <div style="margin-left: 20px;">
      Bräusivögel - Shot to the Top
    </div>
    <div style="margin-right: 20px;">
      <img src="./assets/logo.png" height="130" width="auto">
    </div>

  </div>



  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="rank">
      <th [style.width]="columnWidths['rank']" mat-header-cell *matHeaderCellDef>Rang </th>
      <td [style.width]="columnWidths['rank']" mat-cell *matCellDef="let element"> <b>
          {{element.rank}} </b> </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th [style.width]="columnWidths['name']" mat-header-cell *matHeaderCellDef>Gruppe </th>
      <td [style.width]="columnWidths['name']" mat-cell *matCellDef="let element"> {{element.name}}
      </td>
    </ng-container>

    <ng-container matColumnDef="counter">
      <th [style.width]="columnWidths['counter']" mat-header-cell *matHeaderCellDef>Shots </th>
      <td [style.width]="columnWidths['counter']" mat-cell *matCellDef="let element">
        {{element.counter}}
      </td>
    </ng-container>

    <ng-container matColumnDef="incrDecr">
      <th [style.width]="columnWidths['incrDecr']" mat-header-cell *matHeaderCellDef> </th>
      <td [style.width]="columnWidths['incrDecr']" mat-cell *matCellDef="let element">
        <button mat-icon-button (click)="decrement(element)"><mat-icon>-</mat-icon></button>
        <button mat-icon-button (click)="increment(element)"><mat-icon>+</mat-icon></button>
      </td>
    </ng-container>

    <ng-container matColumnDef="adjustCounter">
      <th [style.width]="columnWidths['adjustCounter']" mat-header-cell *matHeaderCellDef> </th>
      <td [style.width]="columnWidths['adjustCounter']" mat-cell *matCellDef="let element">
        <input class="input" #counterInput type="number" style="width: 60px;">
        <button mat-raised-button style="margin-left: 10px;"
          (click)="adjustCounter(element, counterInput.value); counterInput.value=''">Hinzufügen</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="remove">
      <th [style.width]="columnWidths['remove']" mat-header-cell *matHeaderCellDef> </th>
      <td [style.width]="columnWidths['remove']" mat-cell *matCellDef="let element">
        <button mat-raised-button (click)="removeEntry(element)">Entfernen</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" [ngClass]="'header-row'"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{
      'cell-first': row.rank === 1,
      'cell-second': row.rank === 2,
      'cell-third': row.rank === 3,
      'cell': row.rank > 3
    }"></tr>
  </table>
</div>
<button style="margin-top: 20px;" mat-raised-button (click)="openAddEntryDialog()">Neue Gruppe</button>